@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State=State>
    <Content>
        <EditForm EditContext=FormEditContext
                  OnSubmit=HandleSubmitAsync>   
            @{ 
                var baseIndex = 0;
            }  
            @foreach (var formSection in Form.Sections)
            {
                <FormSectionComponent BaseIndex=baseIndex
                                      Section=formSection
                                      ResponsesMap=QuestionOptionResponsesMap
                                      ValidationMessagesMap=QuestionValidationMessagesMap />

                baseIndex += formSection.Questions.Count();
            }

            <br />
            <input type="submit" value="Submit" />

            @if (!string.IsNullOrWhiteSpace(ValidationMessage))
            {
                <p style="color:red">@ValidationMessage</p>
            }

        </EditForm>
    </Content>
</ContainerComponent>