@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State=State>
    <Content>
        <EditForm EditContext=FormEditContext
                  OnSubmit=HandleSubmit>


            <FormQuestionsListComponent Questions=Form.Questions.ToList()
                                        ResponsesMap=QuestionOptionResponsesMap
                                        ValidationMessagesMap=QuestionValidationMessagesMap />

            <br />
            <input type="submit" value="Submit" />

            @if (!string.IsNullOrWhiteSpace(ValidationMessage))
            {
                <p style="color:red">@ValidationMessage</p>
            }

        </EditForm>
    </Content>
</ContainerComponent>