@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State=State>
    <Content>
        <EditForm EditContext=FormEditContext
                  OnSubmit=HandleSubmit>


            @foreach (var (question, questionNumber) in Form.Questions.Select((question, i) => (question, ++i)))
            {
                <QuestionComponent QuestionNumber=questionNumber
                                   Question=question
                                   Responses=QuestionOptionResponsesMap[question.Id]
                                   ValidationMessages=QuestionValidationMessagesMap[question.Id] />
            }

            <br />
            <input type="submit" value="Submit" />

            @if (!string.IsNullOrWhiteSpace(ValidationMessage))
            {
                <p style="color:red">@ValidationMessage</p>
            }

        </EditForm>
    </Content>
</ContainerComponent>