@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State="State">
    <Content>
        <form @onsubmit="HandleSubmit">

            @foreach (var question in Form.Questions)

{               <QuestionComponent Question=@question 
                                   Responses=@QuestionOptionResponsesMap[question.Id]/>

                <br />
                <br />
            }

            <br />
            <input type="submit" value="Submit" />
        </form>
    </Content>
</ContainerComponent>