<div class="question" id=@Question.Id>

    <label>@Question.QuestionText</label>
    <br />

    <DynamicQuestionComponent Question=Question
                              Responses=Responses
                              ResponsesMap=ResponsesMap
                              ValidationMessagesMap=ValidationMessagesMap>

        <TextQuestionFragment>
            <TextQuestionComponent Question=Question
                                   Responses=Responses />
        </TextQuestionFragment>
        <DropDownQuestionFragment>
            <DropDownQuestionComponent Question=Question
                                       Responses=Responses
                                       RefreshQuestionList=RefreshQuestionList />
        </DropDownQuestionFragment>
        <RadioQuestionFragment>
            <RadioQuestionComponent Question=Question
                                    Responses=Responses
                                    RefreshQuestionList=RefreshQuestionList />
        </RadioQuestionFragment>
        <CheckBoxQuestionFragment>
            <CheckBoxQuestionComponent Question=Question
                                       Responses=Responses />
        </CheckBoxQuestionFragment>
        <DateQuestionFragment>
            <DateQuestionComponent Question=Question Responses=Responses />
        </DateQuestionFragment>
        <UnknownQuestionFragment>
            <p>
                Unknown/unimplemented question type in question: @Question.Id
            </p>
        </UnknownQuestionFragment>

    </DynamicQuestionComponent>

    @foreach (var validationMessage in ValidationMessages)
    {
        <p style="color:red">@validationMessage</p>
    }

</div>