@using DataDrivenFormPoC.Views.Components.ContainerComponents;
@using DataDrivenFormPoC.Views.Bases;

<ContainerComponent State="State">
    <Content>
        <div align="center">

        </div>
    </Content>
</ContainerComponent>